table.table1 {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table.table1 tr {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table.table1 td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.header {
    color: #F2632C;
}

.ol-span-highlight {
    color: #F2632C;
}

.body {
    background-color:rgba(255, 248, 220, 0.197);
    color: rgb(58, 38, 18);
}

.to-the-top-btn {
    color: #F2632C;
}
